:root {
  --primary-color: hsl(171, 66%, 44%);
  --secondary-color: hsl(233, 100%, 69%);
  --neutral-dark: hsl(210, 10%, 33%);
  --neutral-light: hsl(201, 11%, 66%);
  --primary-font: 'Bai Jamjuree', sans-serif;

  --heading-font-lg: 2rem;
  --heading-font-md: 1.5rem;
  --heading-font-sm: 1.2rem;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--primary-font);
  color: var(--neutral-dark);
  text-align: center;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.site-wrapper {
  /* max-width: 375px; */
  /* width: 100%; */
  /* padding: 0 1rem; */
  margin: 0 auto;
  /* background-image: url(../assets/images/bg-header-mobile.png); */
  /* background-position: top center; */
  /* background-repeat: no-repeat; */
}

.container-full {

}

.container {
  max-width: 375px; 
  margin: 0 auto;
}

header {
  /* padding-top: 8rem; */
  margin-bottom: 10rem;
  background-image: url(../assets/images/bg-header-mobile.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px){
  header {
    background-image: url(../assets/images/bg-header-desktop.png);
  }
}

.logo-container {
  margin-bottom: 4rem;
}

.logo {
  margin: 0 auto;
  width: 25%;
}

.header-content-container h2 {
  font-size: var(--heading-font-lg);
  margin-bottom: 1.25rem;
}

.header-content-container p {
  font-size: 17px;
  color: var(--neutral-light);
  margin-bottom: 3rem;
  line-height: 1.6;
}

.button-group button {
  display: block;
  margin: 0 auto 1.5rem auto;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-family: inherit;
  padding: 1.25rem 1rem;
  border: 0;
  border-radius: 2.5rem;
  box-shadow: 0px 2px 3px var(--neutral-dark);
}

.button-group button:nth-of-type(1) {
  background-color: var(--primary-color);
}

.button-group button:nth-of-type(2) {
  background-color: var(--secondary-color);
}

section h3 {
  font-size: var(--heading-font-md);
  padding: 0 2rem;
  margin-bottom: 1rem;
}

section h4 {
  font-size: var(--heading-font-sm);
  margin-bottom: .75rem;
}

/* Refactor? */
section p {
  font-size: 1.125rem;
  color: var(--neutral-light);
  margin-bottom: 3rem;
  line-height: 1.6;
}

.feature-one {
  margin-bottom: 4rem;
}

.feature__img-container {
  margin-bottom: 3rem;
}

.feature-two {
  margin-bottom: 10rem;
}

.feature-four {
  margin-bottom: 8rem;
}

.feature-four__item img {
  margin: 0 auto 1.5rem auto;
}

.feature-logos {
  margin-bottom: 10rem;
}

.feature-logos img {
  margin: 0 auto 4rem auto;
}

.feature-download {
  margin-bottom: 10rem;
}

footer {
  background-color: #f8f8f8;
  padding: 2rem 0;
}

footer .logo {
  width: 15%;
}


.fm-attribution {
  font-size: 11px;
}

.fm-attribution a {
  color: hsl(228, 45%, 44%);
}
