:root {
  --primary-color: hsl(171, 66%, 44%);
  --secondary-color: hsl(233, 100%, 69%);
  --neutral-dark: hsl(210, 10%, 33%);
  --neutral-light: hsl(201, 11%, 66%);
  --primary-font: 'Bai Jamjuree', sans-serif;
  --heading-font-lg: 1.75rem;
  --heading-font-md: 1.5rem;
  --heading-font-sm: 1.25rem;
}

@media (min-width: 900px){
  :root {
    --heading-font-lg: 2rem;
    --heading-font-md: 1.75rem;
    --heading-font-sm: 1.35rem;
  }
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--primary-font);
  color: var(--neutral-dark);
  text-align: center;
  background-color: #474c4c;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.site-wrapper {
  margin: 0 auto;
  background-color: #fff;
}

@media (min-width: 900px){
  .site-wrapper {
    max-width: 1440px;
  }
}

.container-full-width {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.container-centered-sm,
.container-centered-lg {
  max-width: 375px; 
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 900px){
  .container-centered-sm {
    max-width: 610px;
  }

  .container-centered-lg {
    max-width: 1200px;
  }
}

header {
  padding-top: 8rem;
  margin-bottom: 10rem;
  background-image: url(../assets/images/bg-header-mobile.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 900px){
  header {
    background-image: url(../assets/images/bg-header-desktop.png);
  }
}

@media (min-width: 900px){
  header {
    margin-bottom: 7rem;
  }
}

header .logo-container {
  margin-bottom: 4rem;
}

.logo {
  margin: 0 auto;
}

header .logo {
  width: 30%;
}

@media (min-width: 900px){
  header .logo {
    width: 20%;
  }
}

.header-content-container h2 {
  font-size: var(--heading-font-lg);
  margin-bottom: 1.25rem;
}

.header-content-container p {
  font-size: 17px;
  color: var(--neutral-light);
  margin-bottom: 3rem;
  line-height: 1.6;
}

@media (min-width:900px) {
  .button-group {
    display: flex;
    justify-content: space-between;
  }
}

.button-group button {
  display: block;
  margin: 0 auto 1.5rem auto;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-family: inherit;
  padding: 1.25rem 1rem;
  border: 0;
  border-radius: 2.5rem;
  box-shadow: 0px 2px 3px var(--neutral-dark);
}

@media (min-width:900px) {
  .button-group button {
    width: 47%;
  }
}

.button-group button:nth-of-type(1) {
  background-color: var(--primary-color);
}

.button-group button:nth-of-type(2) {
  background-color: var(--secondary-color);
}

section h3 {
  font-size: var(--heading-font-md);
  padding: 0 2rem;
  margin-bottom: 1rem;
}

section h4 {
  font-size: var(--heading-font-sm);
  margin-bottom: .75rem;
}

section p {
  font-size: 1.125rem;
  color: var(--neutral-light);
  margin-bottom: 3rem;
  line-height: 1.6;
}

.prod-feature-one {
  margin-bottom: 4rem;
}

.prod-feature-two {
  margin-bottom: 10rem;
}

.prod-feature-two__img-container {
  margin-bottom: 3rem;
}

@media (min-width: 900px){
  .prod-feature-two {
    margin-bottom: 7rem;
  }

  .container-centered-lg.prod-feature-two {
    max-width: 100%;
    display: flex;
  }

  .prod-feature-two__img-container {
    position: relative;
    left: -85px;
  }

  .prod-feature-two__items {
    text-align: left;
    align-self: center;
    max-width: 380px;
  }
}

.prod-feature-three {
  margin-bottom: 6rem;
}

@media (min-width: 900px){
  .prod-feature-three {
    margin-bottom: 5rem;
  }

  .prod-feature-three img {
    margin: 0 auto;
  }

  .prod-feature-three p {
    max-width: 700px;
    margin: 0 auto 5rem auto;
  }
}

.prod-feature-four {
  margin-bottom: 8rem;
}

.prod-feature-four__items {
  margin-top: 6rem;
}

@media (min-width: 900px){
  .prod-feature-four__items {
    display: flex;
    justify-content: space-between;
  }

  .prod-feature-four__item {
    flex-basis: 31%;
    align-self: baseline;
  }

}

.prod-feature-four__item img {
  margin: 0 auto 2.5rem auto;
}

.prod-feature-five {
  margin-bottom: 10rem;
}

.customer-logos {
  margin-bottom: 10rem;
}

@media (min-width: 900px){
  .customer-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
  }
}

.customer-logos img {
  margin: 0 auto 5rem auto;
}

footer {
  background-color: #f8f8f8;
  padding: 2rem 0;
}

.primary-footer {
  margin-bottom: 4rem;
}

@media (min-width: 900px) {
  .primary-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
  }
}

footer .logo-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (min-width: 900px) {
  footer .logo-container {
    flex-basis: 15%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

footer .logo {
  width: 12%;
}

@media (min-width: 900px) {
  footer .logo {
    width: 30%;
    margin: 0;
  }
}

footer ul li {
  margin-bottom: 1.5rem;
}

@media (min-width: 900px) {
  footer ul {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: baseline;
    text-align: left;
    font-size: 14px;
  }

  footer ul li {
    margin-left: 2rem;
    margin-bottom: 1rem;
    flex-basis: 22%;
  }

  footer ul li:nth-child(2){
    order: 1;
  }

  footer ul li:nth-child(4){
    order: 2;
  }

  footer ul li:nth-child(2),
  footer ul li:nth-child(4){
    margin-bottom: 0;
  }
}

.social-icons__group {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: 3rem auto 0 auto;
}

@media (min-width: 900px) {
  .social-icons__group {
    margin: 0;
    justify-content: flex-end;
    align-items:center;
    flex-basis: 20%;
  }

  .social-icons__group img {
    width: 10%;
    margin-left: 1rem;
  }
}

.attribution-row {
  background-color: var(--neutral-dark);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.fm-attribution {
  font-size: .85rem;
  color: #fff;
  margin-bottom: .5rem;
}

.fm-attribution a {
  color: #fff;
}
